@charset "UTF-8";

body{
    background-image:linear-gradient( #2ef507, #2b8319, #204619);

 
    
}
h1{
    color: #263323;
}
h1#principal{
    color: #EB1492;
    background-color: #6B3F59;
    text-align: center;
}

h2{
    color: #173115;
    text-align: center;
}

.basico{
    color: rgb(146, 127, 255);
    font-weight: bold;
}
.intermediario{
    color: #e8eb14;
}
.avancado{
    color: rgb(252, 7, 7);
}

